<h1>Welcome to your To Do list</h1>
<p>So much todo...</p>

<%# x = "Potato" %> <!-- % suse ruby code-->
<%#= x + "Tomato" %> <!-- %= print ruby code-->

<%= link_to 'Look at your tasks', tasks_path %>
